/*archive page - page-archive.php*/

.l-archive {
    width: 100%;
    margin-top: 2.5rem;
    
}

.l-archive ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.l-archive li {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $color-2;
}

.l-archive li > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.l-archive h1, .l-archive h2 {
    margin-bottom: 1.5rem;
}


@media all and (max-width: 500px) {
  .l-archive li > div { 
      display: block; 
      margin-bottom: 1.5em;
  }
  .dt {
      font-size: 1.2rem;
  }

  .l-archive  {
      padding: 0 0.5em;
  }
}


