/*contact page - page-contact.php*/


.wpcf7-form {
    margin: 5rem auto 0;
}

.name-email {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;  
}

.name-email > div {
    flex: 0 0 35rem;
}


.name-email input{
    width: 100%;
    height: 3.5rem;
    margin-bottom: .6rem;
}

.message textarea {
    width: 100%;
    resize: none; 
    margin-top: 0.5rem;
}

.wpcf7-form > p {
    display: flex;
    margin: 1rem 0;
}

.wpcf7-submit {
    width: 20rem;
    padding: 1rem 0;
    margin: 0 auto;
    border: 1px solid $color-2;
    border-radius: 3px;
    background: $color-3;
    transition: background-color 1s ease;
    font-size: 1.7rem;
    cursor: pointer;
}

.wpcf7-submit:hover {
    background: $color-5;
}


.wpcf7-spinner {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7-not-valid-tip {
    padding: 0;
    margin: 0;
    border:none;
    font-size: small;
    font-style: italic;
    color: $color-1;
}


@media screen and (max-width: 780px) {
  
  .wpcf7-form {
      margin: 1rem auto 1.5rem;
  }

  .name-email {
      flex-flow: column;
  }

  .name-email > div {
      flex: 0 0 auto;
      margin-bottom: 1.5rem;
  }

}






