/*font*/

$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;

/*color*/

$color-1: #333;
$color-2: #888;
$color-3: #fff;
$color-4: #270;
$color-5: #ccc;
$color-6: #ddd;
$color-7: #999; 
$color-8: #F5F5F5





