/* work page - front-page.php and single-portfolio.php*/

.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 3.5rem;
}


.work div {
    border: 1px solid gray;
    border-radius: 2px;
}

.work img,
.view img {
    display: block;
    width: 100%;
    height: auto;
}


.view .wp-image-2359,
.view .wp-image-2360 {
    max-width: 420px;
    margin: 1rem auto;
}



.view p:first-child {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

@media screen and (max-width: 1000px) {
  .work {
      grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 680px) {
  .work {
      grid-template-columns: repeat(1, 1fr);
  }
}

.view {
    margin: auto;
}

.view p {
    margin: 0 0 2.5rem 0;
}


.view p:last-child {
    margin-bottom: 0;
    
}

.view > p > a {
    font-size: 1.5rem;
} 


.view img {
    max-width: 1200px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 1rem;
    
}


